.info{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info:nth-child(2n){
    background-color: rgb(219, 215, 215);
}
.info_label{
    display: flex;
}
.info_input{
    margin-left: 15px;
    margin-right: 10px;
}

.btns{
    display: flex;
    width: 30%;
}

.btns .btn {
    width: 100%;
    height: 100%;
    margin-right: 5%;
}

.checked{
    text-decoration: line-through;
}
form{
    display: flex;
    align-items: center;
}
.edit{
    height: 6vh;
    width: 25%;
    display: flex;
    align-items: center;
}
/* .hidden{
    display: none;
} */
.hidden input{
    margin-left: 5%;
    height: 6vh;
    border: 1px solid gray;
    width: 280px;
}