.App{
  border: 1px solid gray;
  border-radius: 5px;
  width: 550px;
  margin: 120px auto;
}

.todo_body{
  padding: 12px;
}
.todo_wrapper{
  border: 1px solid gray;
  margin-top: 5%;
}
.text{
  text-align:center;
  color: gray;
}
.load img{
  width: 40%;
  margin-left: 28%;
}